{% extends '_layout.njk' %}

{% block content %}
<div>
  <div>
    <h1>Subscribe to the newsletter to get an email</h1>
    <form action="/" method="post" novalidate="">
        <div>
          <input type="email" name="email" size="30" placeholder="Homer.Simpson@myemail.co.uk" required>
        </div>
        <div>
          <input type="string" name="firstName" size="30" placeholder="Homer" required>
        </div>
        <div>
          <input type="string" name="lastName" size="30" placeholder="Simpson" required>
          <input type="hidden" name="crumb" value="{{crumb}}"/>
        </div>
      <div> 
        <input type="submit" value="Subscribe!">
      </div>
    </form>
  </div>
</div>
{% endblock %}
