{% extends '_layout.njk' %}

{% block content %}
  <h1>Subscribe to the newsletter</h1>
  <form action="/" method="post" novalidate="">
    <div> 
      <label for="email">Enter your email:</label>
      <input type="email" name="email" size="30" required>
    </div>
     <div> 
      <input type="submit" value="Subscribe!">
    </div>
  </form>
{% endblock %}
